.container{
    width: 100%;
}
 
.aterzzi{
    
}

#navbar{
    margin-bottom: 2%;
}

#color{
    width: 80%;
    margin-left: 10%;
}

#delete{
    width: 80%;
    margin-left: 10%;
}

#num{
    width: 80%;
    margin-left: 10%;
}

#dimension{
    width: 80%;
    margin-left: 10%;
}

#actions{
    width: 80%;
    margin: 4%;
}